@import "tailwindcss";

:root {
  --background: #0f0f18;
  --background-1: #1e3a8a;
  --foreground: #eaeaea;
  --bg-gradient: linear-gradient(to bottom, #1e3a8a 0px, #0f0f18 500px);
  --image-fade: linear-gradient(to bottom, transparent 0px, var(--background) 400px);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bg-gradient: var(--bg-gradient);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); 
}



body {
  
  background-color: var(--background);
  background-image: var(--image-fade) , var(--dynamic-bg) ;

  

  background-repeat: no-repeat;
  background-position: center top;

  

  background-attachment: scroll;
  background-size: 150% auto;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
